.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
paper/index.html
paper/index_cache
paper/index_files
paper/images
inst/python/dlib70.dat
inst/python/frl.dat
stuff/*.dat
vignettes/*.dat
vignettes/images/*
man/figures/*
pkgdown/index.html