#delin_img {
  cursor: crosshair;
}

.pt {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
    width:9px;
    height:9px;
    z-index:90;
    position:absolute;
    top:0;
    left:0;
    border-radius:100px;
    margin-left:-4px;
    margin-top:-4px;
    background-size:contain;
    border: 1px solid black;
    background-color: white;
}

.pt:nth-of-type(1), .pt:nth-of-type(7) { background-color: red; }
.pt:nth-of-type(2), .pt:nth-of-type(8) { background-color: orange; }
.pt:nth-of-type(3), .pt:nth-of-type(9) { background-color: yellow; }
.pt:nth-of-type(4), .pt:nth-of-type(10) { background-color: green; }
.pt:nth-of-type(5), .pt:nth-of-type(11) { background-color: blue; }
.pt:nth-of-type(6), .pt:nth-of-type(12) { background-color: purple; }

